
<h2><%= @question.name %></h2>



<div class="results">
  <% if @question.is_boolean == true %>
    <h3>Yes: <%= @trues %> <br><%= (@trues.to_f / @votes.size.to_f)*100 %>%</h3>
    <h3>No: <%= @falses %><br><%= (@falses.to_f / @votes.size.to_f)*100 %>%</h3>
  <% else %>
    <div class="count">
      <% if @question.response.present? %>
        <h3><%= @question.response %>: <%= @responses.count %></h3>
      <% end %>
    </div>
    <div class="count">
      <% if @question.response2.present? %>
        <h3><%= @question.response2 %>: <%= @responses2.count %></h3>
      <% end %>
    </div>
    <div class="count">
      <% if @question.response3.present? %>
        <h3><%= @question.response3 %>: <%= @responses3.count %></h3>
      <% end %>
    </div>
    <% if @question.response4.present? %>
      <div class="count">
        <h3><%= @question.response4 %>: <%= @responses4.count %></h3>
    <% end %>
    </div>
  <% end %>
</div>

<div>
  <h4><%= link_to "Vote in more polls", root_path %></h4>
</div>
