
  <div class=form-style-6>
    <form action= "/question/<%= @question.id %>/votes" method="POST">
      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>" />
      <input type="hidden" name="vote[question_id]" value="<%= @question.id  %>" />
      <div>
        <h1><%= @question.name %></h1>
        <% if @question.is_boolean == true %>
          <div class="answer">
          <input type="radio" id="answer_true"  name="vote[answer]" value="true"/>
          <%= label_tag :answer_true do %>
            Yes
          <% end %>
        </div>
        <div class="answer">
          <input type="radio" id="answer_false" name="vote[answer]" value="false">
          <%= label_tag :answer_false do %>
            No
          <% end %>
        </div>
          <input type="submit" class="btn-success">
        <% else %>
        <div class="answer">
          <input type="radio" name="vote[response]" id="response1" value="<%= @question.response %>"/>
          <%= label_tag :response1 do %>

            <%if @image1 %>
            <%= image_tag @image1.url(:square) %>
            <%end%>
            <%= @question.response %>

          <% end %>
        </div>
        <div class="answer">
          <input type="radio" name="vote[response]" id="response2" value="<%= @question.response2 %>"/>
          <%= label_tag :response2 do %>
            <%if @image2 %>
              <%= image_tag @image2.url(:square) %>
            <%end%>
            <%= @question.response2 %>

          <%end%>
        </div>
        <div class="answer">
          <input type="radio" name="vote[response]" id="response3" value="<%= @question.response3 %>"/>
          <%= label_tag :response3 do %>
            <%if @image3 %>
              <%= image_tag @image3.url(:square) %>
            <%end%>
            <%= @question.response3 %>
          <%end%>
        </div>
        <div class="answer">
          <input type="radio" name="vote[response]" id="response4" value="<%= @question.response4 %>"/>
          <%= label_tag :response4 do %>
            <%if @image4 %>
            <%= image_tag @image4.url(:square) %>
            <%end%>
            <%= @question.response4 %>
          <%end%>
        </div>
          <input type="submit", value="Vote", id="button", class="btn-success">
        <% end %>
      </div>
    </form>
  </div>

<div class="form-style-6">

  <h4>See voting results without placing a vote yourself... if that's your style.</h4>
  <button class="show btn-danger">Show me the results</button>

  <div class="results" style="display: none">
    <% if @question.is_boolean == true %>
      <h3>Yes: <%= @trues %> <br><%= (@trues.to_f / @votes.size.to_f)*100 %>%</h3>
      <h3>No: <%= @falses %><br><%= (@falses.to_f / @votes.size.to_f)*100 %>%</h3>
    <% else %>
      <div class="count">
        <% if @question.response.present? %>
          <%= @question.response %>: <%= @responses.count %>
        <% end %>  
      </div>
      <div class="count">
        <% if @question.response2.present? %>
          <%= @question.response2 %>: <%= @responses2.count %>
        <% end %>
      </div>
      <div class="count">
        <% if @question.response3.present? %>
          <%= @question.response3 %>: <%= @responses3.count %>
        <% end %>
      </div>
      <div class="count">
        <% if @question.response4.present? %>
          <%= @question.response4 %>: <%= @responses4.count %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
