<h2>Care to place a vote?</h2>


<form action= "/question/<%= @question.id %>/votes" method="POST">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>" />
  <input type="hidden" name="vote[question_id]" value="<%= @question.id  %>" />
  <div>
    <h4><%= @question.name %></h4>
    <input type="radio" id="answer_true"  name="vote[answer]" value="true"/>Yes
    <input type="radio" id="answer_false" name="vote[answer]" value="false"/>No
    <input type="submit">
  </div>
</form>






<h3>See voting results without placing a vote yourself... if that's your style.</h3>


<h3>Yes: <%= @trues %></h3>
<h3>No <%= @falses %><h3>

<ul>
  <% @votes.each do |n| %>
    <li><%= n.answer %></li>
  <% end %>
</ul>
