<!DOCTYPE html>
<html>
<head>
  <title>Poller Bear</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

  <nav class= "navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <!-- <%= link_to (image_tag "poll.jpg"), "/", class:"logo" %></h3> -->
      <%= link_to "Poller Bear", root_path, class: "navbar-brand hvr-float-shadow" %>
      <button class ="navbar-toggle collapsed" data-toggle="collapse" data-target=".menu-wrapper">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

    </div>
    <div class="menu-wrapper collapse navbar-collapse">

      <div class="navbar-menu navbar-right">

        <ul class="nav navbar-nav">
          <li><%= link_to "New Poll", "/new/poll", class:"hvr-float-shadow" %></li>
          <li><%= link_to "All Poll Results", "/results", class:"hvr-float-shadow" %></li>
          <li><%= link_to "Contact", "mailto:khambro@gmail.com?subject=PollerBear", class:"hvr-float-shadow"%></li>
          <!-- <div class = "icons">
          <a href= "mailto:khambro@gmail.com" class="hvr-float-shadow" ><i class="fa fa-envelope-square fa-lg"></i></a>
          <a href= "https://www.linkedin.com/pub/karen-hambro/a/94b/349" class="hvr-float-shadow" ><i class="fa fa-linkedin fa-lg"></i></a>
          <a href= "https://twitter.com/khambro?lang=en" class="hvr-float-shadow" ><i class="fa fa-twitter fa-lg"></i></a>
          <a href= "https://github.com/khambro"class="hvr-float-shadow" ><i class="fa fa-github fa-lg"></i></a>
        </div> -->


        </ul>
      </div>


        <div class="navbar-right">


        </div>

    </div>
  </div>
</nav>

<% if flash.key?(:notice) %>
  <div class = 'alert alert-info'>
    <%= flash[:notice] %>
  </div>
<% end %>

<div class="container">
<%= yield %>
</div>

</body>
</html>
